<div class="top_container">
  <div class="container">
    <div class="top_search_box">
      <div class="search_message">
        <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
      </div>
      <div class="top_search">
        <p>エリア</p>
        <input>
      </div>
      <%= link_to hotels_path do %>
        <button class="search_button button">探す</button>
      <% end %>
        
    </div>
    <div class="recommend_area">
      <h1>おすすめのエリア</h>
      <ul>
        <li class="recommend_area_img">
          <img alt="東京" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg">
          <p>東京</p>
        </li>
        <li class="recommend_area_img">
          <img alt="大阪" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg">
          <p>大阪</p>
        </li>
        <li class="recommend_area_img">
          <img alt="京都" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg">
          <p>京都</p>
        </li>
        <li class="recommend_area_img">
          <img alt="札幌" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg">
          <p>札幌</p>
        </li>
      </ul>
    </div>
  </div>