/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 ul li {
   list-style: none;
 }
 
body {
  font: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  display: flex;
  flex-direction: column;
  
} 


header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  padding: 0 50px;
  align-items: center;
}

.header_logo > img {
  width: 250px;
  height: auto;
}

.header_search {
  display: flex;
}

.header_search >input {
  font-size: 20px;
  padding: 7px;
  margin-left: 5px;
}

.user_menus {
  display: flex;
  margin-left: auto;
}

.header_user_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  height: 200px;
  line-height: 180px;
}

.container {
  max-width: 1200px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}