// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.link_to_font {
  text-decoration: none;
  
  color: #333333;
}

.container > p {
  font-size: 30px;
}

/*index*/

.index_container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.hotel_content {
  border: 1px solid;
  width: 340px;
  height: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  border-color: #e2e2e2;
}

.hotel_content_text {
  padding: 0 10px;
}


.room_image {
  width: 100%;
  height: 180px;
}

.hotel_content .room_name {
  font-size: 20px;
  font-weight: 700;
  color: #909090;
}

.hotel_content .room_adress {
  font-size: 18px;
  font-weight: 700;
}

.hotel_content .room_price {
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

/*new*/

.new_container {
  display: flex;
  width: 100%;
}

.side_menus {
  border-right: solid #E2E2E2;
  width: 200px;
  text-align: center;
  padding-right: 5px;
  padding-top: 10px;
}

.side_menus > p {
  color: #4b8fe2;
  border-right: solid;
  font-size: 20px;
}

.main_area {
  background-color: #f5f8f9;
  width: 100%;
}

.work_area {
  background-color: #ffffff;
  width: 1000px;
  margin: 50px auto;
  padding: 30px;
  border: #e2e2e2;
}

.main_area .work_area > h2 {
  font-weight: normal;
  font-size: 22px;
}

.under_line {
  border-bottom: solid #eaedef 1px;
}

.room_information_input {
  margin-left: -3em;
}

.work_area .room_information_input >li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.room_information_input .room_label {
  display: flex;
}

.room_information_input .room_label > h3 {
  font-size: 18px;
}

.necessary {
  font-size: 14px;
  background-color: #ff7068;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
  margin-left: 5px;
  height: 18px;
}

.input_area {
  width: 80%;
  height: 30px;
}

.input_area.introduction {
  height: 100px;
}

.submit_button.button {
  width: 170px;
}

/* show */

.container.show_container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.room_image_information {
  width: 700px;
  height: auto;
}


.reservation_form {
  margin-left: 100px;
}

.room_info {
  display: flex;
  padding: 20px;
}

.room_info > div {
  margin-left: 30px;
}

.room_info > div > p {
  font-size: 16px;
}

.room_information > p {
  font-size: 18px;
  border-top: solid 1px #eaedef;
  border-bottom: solid 1px #eaedef;
  display: inline-block;
  padding: 30px 0;
  width: 100%;
}

.reservation_form {
  width: 350px;
  height: 400px;
  padding: 20px 20px 50px 20px;
  border: solid 1px #eaedef;
}

.reservation_form .price-font {
  font-size: 22px;
}

.label {
  font-size: 16px;
}

.reservation_input {
  font-size: 20px;
  width: 100%;
  height: 40px;
  border: 1px solid #eaedef;
}

.reservation_form_content {
  margin-bottom: 20px;
}

.button.submit_button {
  width: 100%;
}